[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
chatterbot = "==1.0.4"
tensorflow = "*"
rasa = "*"
text = "*"
rasa-nlu = "*"
spacy = {extras = ["lookups"],version = "*"}
spacy-lookups-data = "*"
lookups = "*"

[requires]
python_version = "3.8"
