[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spacy = {extras = ["lookups"],version = "*"}
spacy-lookups-data = "*"
numpy = "==1.19.3"
keras = "*"
transformers = "*"
simpletransformers = "*"
tokenizers = "*"
kaggle = "*"
pytorch-pretrained-bert = "*"

[requires]
python_version = "3.8"
